@media screen and (max-width: 768px) {
    #CategoryContainer {        
        overflow-x: auto;
        border-radius: 1.875rem;
    }

    #TrackLayear {
        padding: 2rem 2rem 2rem 2rem;
    }
}